
h1.gemheader {
  margin:      -30px 0 0.5em -95px ; 
  text-indent:                95px ; 
  height:       90px ;
  padding:      50px 0 10px 0px; 
  background:   url('/images/flipcircle.png') no-repeat 0px -6px ;
  }
